@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
	font-family: 'Roboto', sans-serif;color: #666666;font-size: 16px;margin: 0
}
header{
	width: 100%;height: 60px;background-color: #DED1CF;border-bottom: 1px solid darkred;
}
main{
	width: 100%;min-height: 500px
}
aside{
	width: 30%;min-height: 500px;padding: 15px
}
.content{
	width: 70%;min-height: 500px;padding: 15px
}
footer{
	width: 100%;min-height: 200px;background-color: #D1D1D1
}
.menu ul{
	padding: 0;margin: 0;list-style: none;display: flex
}
.menu{
	padding-top: 20px
}
.menu ul li a{
	padding: 10px 30px;text-decoration: none;color: #3F3F3F;border-radius: 20px
}
.menu ul li a:hover{
	background-color: darkred;color: white
}

#slider .owl-dots{ position:absolute; bottom: 10px; left:45%;}
#slider .owl-dots .owl-dot span {
      width: 12px;
      height: 12px; 	
}

#slider .owl-nav { position:absolute; left:0px; top:40%; width:100%; }
#slider .owl-nav [class*='owl-'] {
	font-size:60px; /*background:rgba(255,255,255,.5);border:1px solid #fff; */ color: #fff
}

#slider .owl-nav .owl-next{ position:absolute; right:5%;}
#slider .owl-nav .owl-prev{ position:absolute; left:5%;}
#slider .owl-nav [class*='owl-']:hover {
      background:none;border: none;
      color:#528CF3;
      text-decoration: none; }
.text-do{
	color: darkred
}
aside ul{
	margin: 0;padding: 0;list-style: none;display: flex;flex-direction: column
}
aside ul li{
	border-bottom: 1px solid #666666
}
aside ul li a{
	padding: 10px;display: block;text-decoration: none;color: #666666
}
aside ul li a:hover{
	background-color: darkred;color: white
}
.text-center{
	text-align: center
}
footer a{
	text-decoration: none;color: #6A6A6A
	
}
footer a:hover{
	color: darkred
}
.bg-xanh{
	background-color: #4C8FF7;text-align: center
}
footer ul{
	margin: 0;padding: 0;list-style: none;display: flex;flex-direction: column
}
footer ul li a{
	padding: 10px;display: block;color: #D7D7D7
}
.text-den{
	color: black
}